.certificates-background {
  background: url('../art-background.jpg') no-repeat center center fixed;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

.certificates-wrapper {
  height: auto;
}

.certificates-section {
  padding-top: 40px;
}

.certificates-title {
  font-family: Courier;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

.carousel {
  margin-top: 20px;
  width: 820px;
  height: 600px;
}

.carousel-inner img {
  margin: auto;
}

.carousel-caption {
  bottom: -70px;
}

.carousel-inner {
  padding-bottom: 100px;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}
