.resume-background {
  background: url('../art-background.jpg') no-repeat center center fixed;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

.resume-wrapper {
  height: auto;
}

.resume-section {
  padding-top: 60px;
}

.resume-title {
  font-family: Courier;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.category-title {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.resume-paragraph {
  color: white;
  font-weight: bold;
}
