.resume-background {
  background: url('../atmosphere-background.jpg') no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

.resume-wrapper {
  height: 100vh;
}

.resume-section {
  padding-top: 40px;
}

.resume-title {
  font-family: Courier;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
}

.category-title {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

.resume-paragraph {
  color: #000000;
  font-weight: bold;
  border-bottom: 1px dotted;
}
